md-icon.material-icons.md-24 { font-size: 24px;}
md-icon.material-icons.md-36 { font-size: 36px; height: 48px; width: 48px; margin-left: -4px; margin-top: 1px;}
md-icon.material-icons.md-48 { font-size: 40px; height: 48px; width: 48px; margin-left: -4px;}
