$alert: rgb(255, 87, 34);
$warning: rgb(255, 193, 6);

$ink: rgb(33, 33, 33);
$chalk: rgb(250, 250, 250);
$link: rgb(104, 159, 56);

$mute: rgb(158, 158, 158);

$placeholder: $mute;

// Font Selections
@mixin serif-font() {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin script-font() {
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin body-font() {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin heading-font() {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
@mixin paragraph-font() {
	font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5;
}

@mixin text-shadow() {
	text-shadow: 0 0 4px rgb(11, 11, 11), -1px -1px rgba(66, 66, 66, 0.6), 1px 1px rgba(66, 66, 66, 0.6);
}
