@import 'icons';
body,
md-card {
    margin: 0;
}

portfolio {
    md-sidenav-layout {
        h4 {
            margin-right: 8px;
        }
        md-sidenav {
            left: auto;
            md-nav-list {}
            md-grid-list {
                margin-right: 8px;
                md-grid-tile {
                    margin-left: 4px;
                    margin-right: 4px;
                    color: white;
                    &.selected {
                        img {
                            opacity: 1.0;
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                        opacity: 0.6;
                    }
                    img:hover {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
    md-toolbar {
        position: fixed;
        z-index: 2;
        &.transparent {
            background: none;
        }
        .pf-title {
            img.pf-logo {
                height: 16.5vh;
                width: 16.5vh;
                top: 42px;
                left: 68px;
                position: absolute;
                -webkit-transform: rotate(-16deg) scale(1);
                -moz-transform: rotate(-16deg) scale(1);
                -o-transform: rotate(-16deg) scale(1);
                -ms-transform: rotate(-16deg) scale(1);
                transform: rotate(-16deg) scale(1);
            }
        }
        .fill-remaining-space {
            // This fills the remaining space, by using flexbox.
            // Every toolbar row uses a flexbox row layout.
            flex: 1 1 auto;
        }
    }
    .menu.icon {
        color: rgb(244,244,244);
    }
    .start {
        z-index: 0;
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .pf-card-fullsize {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
        }
        .pf-card-information {
            position: absolute;
            color: rgb(244,244,244);
            bottom: 8vh;
            left: 44px;
        }
    }
}
