<portfolio-product>
    Loading my products here...
</portfolio-product>

<p>
    &mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
</p>

<md-card class="app-input-section">
    <md-input placeholder="First name"></md-input>

    <md-input #nickname placeholder="Nickname" maxlength="50">
        <md-hint align="end">
            {{nickname.characterCount}}
            / 50
        </md-hint>
    </md-input>

    <md-input>
        <md-placeholder>
            <i class="material-icons app-input-icon">android</i>
            Favorite phone
        </md-placeholder>
    </md-input>

    <md-input placeholder="Motorcycle model">
        <span md-prefix>
            <i class="material-icons app-input-icon">motorcycle</i>
            &nbsp;
        </span>
    </md-input>
</md-card>
